
body {
  background-color: darkgreen;
}

#board {
  width: 880px;
  height: 550px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#leftPaddle {
  width: 20px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 220px;
  left: 50px;
}

#rightPaddle {
  width: 20px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 220px;
  left: 810px;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 245px;
  left: 440px;
}